<div id="files">
  Search: <input ng-model="query">
  Sort by:
  <select ng-model="orderProp">
    <option value="file">Alphabetical</option>
    <option value="date">Newest</option>
  </select>


  <div ng-repeat="file in files | filter:query | orderBy:orderProp" ng-show="file.type=='video'">
      <span>Path: {{file.file}}</span><br/>
      <span>Type: {{file.type}}</span><br/>
      <span>Date: {{file.date | date:'MMM d, y h:mm:ss a'}}</span><br/>
      Show: <input type="text" ng-model="file.show"/>
      Season: <input type="number" ng-model="file.season"/>
      Episode: <input type="number" ng-model="file.episode"/></br>
      Title: <input type="text" ng-model="file.title" ng-controller="rnrGetTitleCtrl"/>
      <!--<br/> {{file.show}} {{file.season}} {{file.episode}}
      <br/> {{file}}-->
      <hr/>
  </div>
</div>
